# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# macOS
.DS_Store

# Optional: Python build / cache files
build/
dist/
*.egg-info/
.eggs/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/